<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673446720251-utuedh6so7pqsqm8qru3e2rfcao3nd81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673446720251-utuedh6so7pqsqm8qru3e2rfcao3nd81</string>
	<key>API_KEY</key>
	<string>AIzaSyCWdyXmpBILnl93zXq5DiEbkiahHNmX9fA</string>
	<key>GCM_SENDER_ID</key>
	<string>673446720251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-2dce9</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-2dce9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673446720251:ios:57b1d98af1b29fa644365e</string>
</dict>
</plist>